{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1>Создание нового пользователя</h1>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('app_users_index') }}">Назад</a>
{% endblock %}
